Mosaico_nidos_Ardley_Diciembre_2023-4x7.png
Results_pinguins.csv
Cropped_images/cropped_5_3808.tiff
Cropped_images/cropped_45_3420.tiff
Cropped_images/cropped_168_3699.tiff
Cropped_images/cropped_212_2981.tiff
Cropped_images/cropped_235_3561.tiff
Cropped_images/cropped_324_3453.tiff
Cropped_images/cropped_947_3943.tiff
Cropped_images/cropped_1583_3276.tiff
Cropped_images/cropped_1769_438.tiff
Cropped_images/cropped_2867_2320.tiff
